<launch>
	<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node"/>

	<node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" />
	<param name="_device" value="/dev/video0"/>
	<param name="_width" value="640"/>
	<param name="_height" value="480"/>
	<param name="_camera_info_url" value="file:///opt/ros/indigo/share/uvc_camera/camera_calibration.yaml"/>

	<node name="phidgets_imu_node" pkg="phidgets_imu" type="phidgets_imu_node"/>
	
</launch>
